@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
* {margin: 0; box-sizing: border-box;
    font-family: 'Overlock', cursive;}

body {
    width: 90%;
    background-color: rgb(28, 119, 119);
    font: 28px;
    color: bisque;
}
/* header {height: 13%;
    border: 2px solid white ;
} */

nav {
height: 11%;
margin: 0;
padding: 0  ;
/* border: 2px solid pink; */
display: flex;
justify-content: space-between;
align-items: center;
background-color:black;
padding-right: 80px;
color: black;
}

nav a {
    color: bisque;
    background-color: rgb(28, 119, 119);
}

nav a, .dropbtn {
    display: inline-block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }


h1 {
    font-size: 80;
    color: bisque;
}

h2 {
    font-size: 30px;
    color: bisque;
}

ul description {
    display: flex;
    border: 2px solid purple;
    
}

.container {
    margin: auto;
    /* border: 2px solid purple; */
    width: 90%;
    height: 100vh;
}



.subheading {
    display: flex;
    /* border: 2px solid purple; */
    height: 35%;
    padding-bottom: 40px;
    padding-top: 40px;
    justify-content: center;
}

.services {
    height: 50%;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.services div {
    height: 80%;
    flex-basis: 30%;
    border: 2px solid aqua
     
}

.personal-bgimg {
    background-image: url(/Images/Small\ business\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
      
   }

   .business-svcs {
    background-image: url(/Images/corporate\ Image\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
    /* color: purple; */
   }

   .non-profit {
    background-image: url(/Images/non-profit\ image\ 2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 30px;
       }


    .btn {
        position: relative;
        top: 40%;
        /* left: 50%; */
        /* transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%); */
        background-color: rgb(28, 119, 119);
        color:bisque;
        font-size: 16px;
        padding: 16px 30px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
      }
      
      .btn:hover {
        background-color:bisque;
        color: black;
      }


footer {
    height: 26vh;
    /* border: 2px black; */
    /* outline: solid; */

}



