@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
* {margin: 0; box-sizing: border-box;
    font-family: 'Overlock', cursive;}

body {
    width: 90%;
    background-color: indianred;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px color white;
}

.container {
    margin: auto;
    border: 2px solid purple;
    width: 90%;
    height: 100vh;
}

.navigation-bar {
    width: 100;
}
header {
    height: 20vh;
    border: 2px solid green;

    display: flex;
    justify-content: left;
    align-items: center;
}

.subheading {
    padding-bottom: 25px;
}

.services {
    height: 50%;
    border: 2px solid yellow;
    display: flex;
    justify-content: space-between;
}

.services div {
    height: 100%;
    flex-basis: 30%;
   border: 2px solid aqua

}

.personal-bgimg {
    background-image: url(/Images/Small\ Business.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    
}

.business-svcs {
    background-image: url(/Images/Corporate\ Image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.non-profit {
    background-image: url(/Images/NonProfit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}


footer {
    height: 26vh;
    border: 2px black;
    outline: solid;

}



